.App {
  position: absolute;
  top: 0;
  /* right: 0;
  left: 0; */
  width: 100%;
  bottom: 0;
  min-width: 1090px;
}

.Contents {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 25px;
}

.Copyright {
  position: absolute;
  width: calc(100% - 11px);
  bottom: 0;
  height: 22px;
  padding-top: 3px;
  color: white;
  padding-left: 10px;
}