.SearchDate {
    height: 100%;
    width: calc(100% - 373px);
    min-width: 700px;
    border-top: 0.5px solid rgb(128, 128, 128);
    border-bottom: 0.5px solid rgb(128, 128, 128);
    float: left;
    overflow-y: auto;
    /* text-align: center; */
}

.MainPanel {
    height: 100%;
    width: 550px;
    margin: auto;
    /* display: inline-block; */
}

.MainPanel .TitlePanel {
    text-align: center;
    border-bottom: 0.5px solid rgb(128, 128, 128);
    padding-top: 20px;
    margin-bottom: 20px;
    height: 48px;
}
.MainPanel .ControlPanel {
    height: calc(100% - 90px);
}

.ControlPanel .result {
    /* margin-top: 20px; */
    margin: 20px 0;
    min-height: 200px;
    height: 70%;
    position: relative;
}

.ControlPanel .result .loading {
    position: absolute;
    top: 40%;
    left: 50%;
}

.search {
    height: 38px;
    border: 0.5px solid rgb(128, 128, 128);
}
.search input {
    width: calc(100% - 40px);
    height: 35px;
    border: none;
    margin-left: 10px;
    font-size: 15px;
}
.search svg {
    font-size: 24px;
    vertical-align: middle;
    cursor: pointer;
}

.result {
    font-size: 16px;
    border: 0.5px solid rgb(128, 128, 128);
    padding: 10px;
}

.TitlePanel .title {
    font-weight: bold;
    font-size: 36px;
    margin-right: 20px;
}

.TitlePanel .description {
    font-size: 13px;
}

.hide-loading {
    /* display: none; */
    visibility: hidden;
}